@charset "utf-8";
/* 
 * page name
 * Copyright 2024
 * Author Tim
 * Licensed 
 */

/* ------- */
/* Content */
/* ------- */

/* 
* Content----------------You are reading it
* Global-----------------Set common styles
* Layout-----------------Set grid styles
* Component--------------Set component styles
*/

/* -------- */
/*  Global  */
/* -------- */

*{
    box-sizing: border-box;
    position: relative;
}

h1,h2,h3,h4,h5,h6,p,ul{
    margin: 0;
    padding: 0;
}

html,body,select{
    font-family: 微軟正黑體, Arial;
	color: rgb(75,93,106);
}

ul{
    list-style: none;
}

a,input{
	text-decoration: none;
	color: rgb(75,93,106);
	font-family: 微軟正黑體, Arial;
}
input:focus{
	outline: 0;
}	
input::placeholder{
	font-weight: bolder;
	color: rgb(206,216,225);
}
/* 移除數字輸入框的上下箭頭按鈕 */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ------ */
/* Layout */
/* -------*/
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.container-dashed{
	margin-top: 60px;
	border: 2px dashed rgb(75,93,106);
}
/* grid system */
	.flex-row{
		display: flex;
	}
	.flex-row-around{
		display: flex;
		justify-content: space-around;
	}
	.flex-row-between{
		display: flex;
		justify-content: space-between;
	}
	.flex-row-na-center{
		display: flex;
		justify-content:center ;
	}
	.flex-row-center{
		display: flex;	
		align-items: center;
		justify-content: center;
	}
	.flex-row-a-center{
		display: flex;
		align-items: center;
	}
	.flex-row-a-c-center{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.flex-col-1{
		flex:1;
	}
	.flex-col-2{
		flex: 2;
	}
	.flex-col-3{
		flex: 3;
	}
	.flex-col-4{
		flex: 4;
	}
	.flex-col-a{
		width: 309.89px;
	}
	.col{
		padding: 0 48px;
	}

/* color */
.color-white{
	color: white;
}
.color-orange--dark{
	color: rgb(235, 133, 55);
}
.color-orange--light{
	color: rgb(250,229,216);
}
.color-green--dark{
	color:rgb(28,123,105);
}
.color-green--light{
	color:rgb(209,228,225);
}
.color-green--light2{
	color: rgb(29,172,160);
}
.color-brown{
	color:rgb(171,100,100);
}
.color-red{
	color:rgb(211,69,91)
}
.color-grey--dark{
	color: rgb(75,93,106);
}
.color-grey--light{
	color: rgb(206,216,225);
}
.color-yellow{
	color:rgb(254,242,208);
}
.color-purple{
	color: rgb(122, 109, 222);
}
.color-blue{
	color: rgb(45,137,214)
}
/* bg-color */	
.bg-white{
	background-color: white;
}
.bg-orange--dark{
	background-color: rgb(235, 133, 55);
}
.bg-orange--lihgt{
	background-color: rgb(250,229,216);
}
.bg-green--light{
	background-color:rgb(209,228,225);
}
.bg-green--light2{
	background: rgb(29,172,160);
}
.bg-green--dark{
	background-color:rgb(28,123,105);
}
.bg-brown{
	background-color:rgb(171,100,100);
}
.bg-red{
	background-color:rgb(211,69,91)
}
.bg-grey--dark{
	background-color: rgb(75,93,106);
}
.bg-grey--light{
	background-color: rgb(206,216,225);
}
.bg-yellow{
	background-color:rgb(254,242,208);
}
.bg-purple{
	background-color: rgb(122, 109, 222);
}
.bg-blue{
	background-color: rgb(45,137,214)
}
/* --------- */
/* Component */
/* --------- */
/* btn */
.btn-xl{
    font-size: 16px;
    line-height: 34px;
    height: 34px;
    width: 252px;
	border-radius: 4px;
}

.btn-lg{
	font-size: 16px;
    line-height: 34px;
    height: 34px;
    width: 180px;
	border-radius: 4px;
}
.btn-m{
	font-size: 16px;
    line-height: 34px;
    height: 34px;
    width: 130px;
	border-radius: 4px;
}
.btn-sm{
	font-size: 16px;
    line-height: 34px;
    height: 34px;
    width: 100px;
	border-radius: 4px;
}
.btn-group{
	padding: 40px 0;
	display: flex;
	justify-content: center	;
	font-weight: bolder;
}
.btn-group .icon{
	padding-right: 12px;
}

/* navbar */
.navbar{
    width: 100%;
    height: 64px;
    background-color: rgb(209,228,225);

    top: 0;
    left: 0;	
	z-index: 500;
    position: fixed;
}
.navbar .container:after{
	content: "";
	display: block;
	clear: both;
}
.navbar .nav{
    float: right;
}
.navbar .nav-item{
	float: left;
	padding: 20px 16px;
}
.navbar .nav-item .nav-link{
	display: block;
	line-height: 24px;
}
/* logobar */
.logobar{
	display: flex;
	justify-content: center;
}
.logobar .logo{
	font-size: 64px;
	margin: 128px 0 32px 0;
}
/* menubar */
.menu-item,.category-item{
	padding: 4px 24px;
}
.menu-link,.category-link{
	font-size: 24px;
	line-height: 20px;
	color: #646262;
}
/* jumbotron */
.jumbotron{
	height: 600px;
	border: 1px solid black;
	margin: 32px 0;
}
/* product */
.product-bar{
	padding-bottom: 60px;
}
.product-card{
	width: 220px;
	padding: 10px 0;
	/* border: 1px solid black; */
}
.image-group{
	width: 100%;
	height: 100%;
}
.image-group::before{
	content: '';
	display: block;
	width: 100%;
	padding-top: 75%;
}
.image-group .image{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.image-group .shopping-add{
	font-size:24px;
	padding: 8px 2px 8px 8px;
	right: 0;
	bottom:0;
	position: absolute;

}
/* preview */
.preview{
	font-weight:600;
}
/* productName-group */
.productName-group{
	display: flex;	
	/* border: 1px solid red; */
	padding: 10px 0;
}
.productName-group .fa-solid.fa-seedling{
	padding-right: 10px;
}
/* price-group */
.price-group{
	display: flex;
	padding:10px 0;
	/* border: 1px solid red; */
}
.price-old,.price-new{
	display: flex;
}
.price-old .fa-solid.fa-coins{
	padding-right: 20px;
	font-size: 16px;
}	
.price-new .fa-solid.fa-yen-sign{
	padding-right: 24px;
	font-size: 16px;
}
/* category-group */
.category-group{
	display: flex;	
	/* border: 1px solid red; */
	padding: 10px 4px;
}
.category-group .category{
	font-size: 16px;
	padding: 4px 8px;
	border-radius: 16px;
}
.category--orange{
	color: rgb(235, 133, 55);
	background-color: rgb(250,229,216);
}
.category--green{
	color:rgb(28,123,105);
	background-color:rgb(209,228,225);
}
.category--brown{
	color:rgb(171,100,100);
	background-color:rgb(254,242,208);
}
.category--dark{
	color: rgb(111, 123, 135);
	background-color:rgb(167, 173, 179);	
}
.footer{
	display: flex;
	margin-top: 64px;
	padding: 16px;
	font-weight: bolder;
	line-height: 36px;
	border: 2px solid rgb(140, 163, 177);
	align-items: center;
	flex-direction: column;
}
.footer .icon-group{
	display: flex;
	justify-content: center;
	/* padding-bottom: 8px; */
}
.footer .icon-group .icon{
	font-size: 24px;
	padding: 0 10px;
}
.footer .footer-broder{
	margin: 10px 0;
	padding: 0px 260px;
	line-height: 24px;
	border: 1px solid rgb(140, 163, 177);
}
.path-group{
	line-height: 24px;
	padding: 24px 24px;
	display: inline-block;
}
.pathbar .filter{
	left: 700px;
}

.numberbar{
	padding: 24px;
}
/* Utility */
.p-8{
	padding: 8px;
}
.pb-4{
	padding-bottom: 4px;
}
.m-12{
	margin: 12px;  
}
.m-20{
	margin: 20px;  
}
.ml-28{
	margin-left: 28px;
}
.ml-190{
	margin-left: 190px;
}
.mr-190{
	margin-right: 190px;
}	